@charset "UTF-8";
/*---- variables-----*/
/*--- fin variables---*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-size: 16px; }

/*------ Navegador ----*/
nav {
  background-color: #000; }

.nav-item {
  color: #c7c7c7; }

.nav-item:hover {
  color: #5e5e5e; }

.social {
  display: flex;
  flex-direction: row; }

/*------ Body ------*/
.main {
  background: #86949c;
  background: linear-gradient(0deg, #86949c 0%, #112d60 100%);
  background-size: cover; }

/* seccion uno index */
.contenedor {
  background-image: url(../imagenes/img-1.jpg);
  background-size: cover;
  height: 37.5em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  overflow: hidden;
  margin-top: 2.5em; }

.contenido {
  background-color: rgba(238, 238, 238, 0.89);
  height: 12.5em;
  grid-column: 1/span 9;
  position: relative;
  top: 18.75em;
  right: 2.5em;
  padding-left: 15.625em;
  transition: 1s; }
  .contenido__index {
    font-family: "Bebas Neue", cursive;
    font-size: 3.75em;
    color: #202020;
    padding-left: 1.125em; }
  .contenido__parrafo {
    font-family: "Source Sans Pro", sans-serif;
    color: #1b1b1b;
    position: relative;
    bottom: 1.563rem; }
  .contenido .contenido:hover {
    transform: scale(1.03); }

/* --- seccion dos indexx ---- */
.contenedorDos {
  background-color: #fff;
  height: 31.25em; }

.tarjeta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "texto img";
  justify-content: center;
  height: 25em;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 4.375em; }
  .tarjeta__img {
    grid-area: img;
    width: 100%;
    height: 18.75em;
    align-self: center; }
  .tarjeta__contenido {
    color: #000;
    padding: 1.25em;
    height: 18.75em;
    align-self: center; }
  .tarjeta__span {
    background-color: #222222;
    width: 0.313em;
    height: 1.875em;
    position: relative;
    bottom: 2.813em;
    left: 1.25em; }
  .tarjeta__titulo {
    color: #000;
    font-family: "Bebas Neue", cursive;
    font-size: 1.875em;
    padding-left: 2.5em; }
  .tarjeta__parrafo {
    color: #444444;
    font-size: 1em;
    position: relative;
    bottom: 1.25em; }

/*----- secion tres index ------ */
.noticias {
  background-color: #222222;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  justify-content: space-evenly;
  grid-gap: 20px;
  align-content: center;
  height: 60em;
  padding-left: 2.5em; }
  .noticias__titular {
    font-family: "Bebas Neue", cursive;
    color: #ffffff;
    font-size: 2.5em;
    align-self: center;
    align-items: center; }
  .noticias__hr {
    width: 80%;
    background-color: #fff;
    height: 0.063em;
    grid-row: 1; }
  .noticias__tarjeta {
    display: flex;
    flex-direction: row;
    grid-column: 1/span 3;
    background-color: #f3f3f3;
    width: 90%;
    height: 15em;
    transition: 1s;
    box-shadow: 1px 2px 5px 0px #4e4e4e;
    align-self: center; }
  .noticias__contenido {
    padding: 1.25em;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0.625em; }
  .noticias__img {
    width: 80%;
    height: 100%; }
  .noticias__info {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    color: #000000; }
  .noticias__btn {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 0.625em;
    background-color: #000000;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    align-self: flex-end;
    transition: 1s; }
  .noticias__btn:hover {
    transform: scale(1.04);
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #000; }
  .noticias__tarjeta:hover {
    transform: scale(1.03); }

section {
  background-color: #192d8e;
  background-image: url(../imagenes/fondo.jpg);
  background-size: cover;
  margin: 0; }

/* ----- Integrantes ---- */
.inte {
  background-image: url(../imagenes/fondo.jpg);
  background-size: cover;
  height: 12.5em;
  width: 100%; }
  .inte__titulo {
    font-family: "Bebas Neue", cursive;
    color: #fff;
    font-size: 4.375em;
    text-align: center;
    margin: 0;
    padding-top: 5.625rem; }

.integrante {
  background-color: #fff;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  grid-template-areas: " img texto";
  transition: 1s;
  height: 21.875em; }
  .integrante__imagen {
    grid-area: img;
    width: 95%;
    align-self: center; }
  .integrante__contenido {
    grid-area: texto;
    padding-right: 1.25em;
    transition: 1s; }
  .integrante__titulo {
    font-family: "Bebas Neue", cursive;
    color: #000;
    text-decoration: underline;
    font-size: 1.875em;
    padding-left: 1.25em;
    padding-top: 0.625em; }
  .integrante__parrafo {
    font-family: "Source Sans Pro", sans-serif;
    color: #3f3f3f;
    font-size: 1.25em; }
  .integrante__contenido:hover {
    transform: scale(1.03); }

.integrante2 {
  background-color: #222222;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  grid-template-areas: " texto2 img2";
  transition: 1s;
  height: 20em; }
  .integrante2__imagen {
    grid-area: img2;
    width: 95%;
    align-self: center; }
  .integrante2__contenido {
    grid-area: texto2;
    padding-right: 1.875em;
    transition: 1s; }
  .integrante2__titulo {
    font-family: "Bebas Neue", cursive;
    color: white;
    text-decoration: underline;
    font-size: 1.875em;
    padding-left: 1.25em;
    padding-top: 1.875em; }
  .integrante2__parrafo {
    font-family: "Source Sans Pro", sans-serif;
    color: #d1d1d1;
    font-size: 1.25em; }
  .integrante2__contenido:hover {
    transform: scale(1.03); }

/*--------- Final integrantes flexbox ------ */
h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.875em;
  color: #fff; }

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25em;
  color: #fff;
  padding: 0.625em 1.25em; }

/* ------ Discografia Css Grid---- */
.disco {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 12.5em; }
  .disco__titu {
    font-family: "Bebas Neue", cursive;
    font-size: 3.75em;
    align-self: flex-end;
    padding-left: 3.75em;
    padding-bottom: 2rem; }

.mainIndex {
  background: black;
  background: linear-gradient(180deg, black 0%, #4a4a4a 62%, #a1a1a1 100%); }

.discografia {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: 'disco1 disco1  disco2 disco2' 'disco3 disco3  disco4 disco4' 'disco5 disco5  disco5 disco5' 'disco6 disco6  disco7 disco7';
  grid-gap: 10px;
  padding-left: 5em;
  padding-bottom: 3em; }

.discoUno, .discoTres, .discoCinco, .discoSiete {
  grid-area: disco1;
  display: flex;
  flex-direction: row;
  background-color: #1b1b1b; }

.discoUno iframe, .discoTres iframe, .discoCinco iframe, .discoSiete iframe {
  grid-area: iframe1;
  width: 15em;
  height: 100%; }

.discoDos, .discoCuatro, .discoSeis {
  grid-area: disco2;
  display: flex;
  flex-direction: row;
  background-color: #e9e9e9; }

.discoDos iframe, .discoCuatro iframe, .discoSeis iframe {
  grid-area: iframe2;
  width: 15em;
  height: 100%; }

.discoTres {
  grid-area: disco3; }
  .discoTres__iframe {
    grid-area: iframe3;
    width: 15em;
    height: 100%; }

.discoCuatro {
  grid-area: disco4; }
  .discoCuatro__iframe {
    grid-area: iframe4;
    width: 15em;
    height: 100%; }

.discoCinco {
  grid-area: disco5; }
  .discoCinco__iframe {
    grid-area: iframe5;
    width: 60em;
    height: 100%; }

.discoSeis {
  grid-area: disco6; }
  .discoSeis__iframe {
    grid-area: iframe6;
    width: 15em;
    height: 100%; }

.discoSiete {
  grid-area: disco7; }
  .discoSiete__iframe {
    grid-area: iframe7;
    width: 15em;
    height: 100%; }

.disco__titulo {
  font-family: "Bebas Neue", cursive;
  padding-left: 20px;
  padding-top: 15px; }

.disco__titulo1 {
  font-family: "Bebas Neue", cursive;
  padding-left: 20px;
  padding-top: 15px;
  color: #000; }

.disco__parrafo {
  font-family: "Source Sans Pro", sans-serif;
  padding-left: 20px;
  padding-top: 15px; }

.disco__parrafo1 {
  font-family: "Source Sans Pro", sans-serif;
  padding-left: 20px;
  padding-top: 15px;
  color: #474747; }

/*--- ------ final de discografia ---- */
/*----- Galeria -----*/
.gale {
  background-image: url(../imagenes/fondo.jpg);
  background-size: cover;
  height: 12.5em;
  width: 100%; }
  .gale__titulo {
    font-family: "Bebas Neue", cursive;
    color: #fff;
    font-size: 4.375em;
    text-align: center;
    margin: 0;
    padding-top: 5.625rem;
    padding-top: 5.625em; }

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  gap: 10px;
  padding: 10px;
  grid-auto-flow: dense; }
  .galeria__item-1, .galeria__item-2, .galeria__item-3, .galeria__item-4, .galeria__item-5, .galeria__item-6, .galeria__item-7, .galeria__item-8, .galeria__item-9, .galeria__item-10 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imagenes/galeria1.jpg);
    align-content: center;
    border-radius: 2px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .galeria__item-2 {
    background-image: url(../imagenes/galeria11.jpg); }
  .galeria__item-3 {
    background-image: url(../imagenes/galeria3.jpg); }
  .galeria__item-4 {
    background-image: url(../imagenes/galeria4.jpg); }
  .galeria__item-5 {
    background-image: url(../imagenes/galeria5.jpg); }
  .galeria__item-6 {
    background-image: url(../imagenes/galeria6.jpg); }
  .galeria__item-7 {
    background-image: url(../imagenes/galeria7.jpg); }
  .galeria__item-8 {
    background-image: url(../imagenes/galeria8.jpg); }
  .galeria__item-9 {
    background-image: url(../imagenes/galeria9.jpg); }
  .galeria__item-10 {
    background-image: url(../imagenes/galeria12.jpg); }

.wide {
  grid-column: span 2; }

.galeria div {
  transition: 1s; }

.galeria div:hover {
  transform: scale(1.04);
  box-shadow: 3px 3px 3px #838383; }

/*---- Final Galeria ----*/
/*------- Contacto ------- */
.contacto {
  background: black;
  background: linear-gradient(74deg, black 0%, #545454 48%, #969696 93%);
  height: 800px;
  padding-top: 110px;
  padding-left: 90px; }

.formCont {
  width: 90%;
  height: 600px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  grid-template-areas: " info label";
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); }

.cont {
  grid-area: info;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../imagenes/contac.jpg);
  background-size: cover; }
  .cont__titulo {
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px; }
  .cont__item {
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    word-spacing: 5px; }
  .cont__mapa {
    font-family: 'Bebas Neue', cursive; }
  .cont__mapa iframe {
    width: 30%;
    height: 150px; }
  .cont__user {
    color: #fff;
    font-size: 60px; }
  .cont hr {
    background-color: #fff;
    width: 99%;
    height: 0.5px; }

.form {
  grid-area: label;
  display: flex;
  flex-direction: column;
  padding: 30px 40px; }
  .form__titu {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: #000; }
  .form__info {
    display: flex;
    flex-direction: column; }
  .form__label {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px; }
  .form__input {
    width: 70%;
    border: none;
    border-bottom: 2px solid #222222;
    transition: 1s; }
  .form__text {
    width: 70%;
    height: 70px;
    border: none;
    border-bottom: 2px solid #222222; }
  .form__btn {
    width: 40%;
    background-color: #222222;
    padding: 10px;
    border: none;
    border-radius: 25px;
    align-self: flex-end;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    top: 40px;
    transition: 1s; }
  .form__input:hover {
    border: none;
    border-bottom: 4px solid black; }
  .form__btn:hover {
    background-color: #868686;
    transform: scale(1.03); }

/*------ Final Contacto ------- */
/*----- Footer ---------*/
.footer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: " texto redes" "diseñador diseñador";
  background-color: #1b1b1b; }
  .footer__contenido {
    grid-area: texto;
    align-self: center;
    padding-left: 30px;
    transition: 1s; }
  .footer__hr {
    width: 90%;
    background-color: #eee;
    height: 1px;
    align-self: center; }
  .footer__titulo, .footer__redesTitulo {
    font-family: "Bebas Neue", cursive;
    font-size: 25px;
    color: #fff;
    padding-top: 30px;
    padding-left: 130px; }
  .footer__redes {
    grid-area: redes;
    font-size: 30px; }
  .footer__link {
    color: #9c9c9c;
    text-decoration: none;
    padding-left: 40px;
    padding-top: 20px; }
  .footer__parrafo {
    color: #9c9c9c;
    font-size: 18px;
    padding-right: 140px; }
  .footer__titular {
    grid-area: diseñador;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #272727;
    align-self: center;
    align-items: center;
    word-spacing: 3px; }
  .footer__diseñador {
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    font-size: 15px; }
  .footer__linke {
    font-family: "Bebas Neue", cursive;
    color: #c0c0c0;
    text-decoration: none;
    font-size: 19px;
    transition: 1s; }
  .footer__contenido:hover {
    transform: scale(1.04);
    color: #fff; }
  .footer__link:hover {
    transform: scale(1.04);
    color: #fff;
    text-decoration: none; }
  .footer__linke:hover {
    transform: scale(1.04);
    color: #fff;
    text-decoration: none; }

/*------ media queries---------*/
@media only screen and (max-width: 768px) {
  .main {
    width: 100%; }
  .contenedor {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto; }
  .contenido {
    grid-column: 1/span 8;
    grid-row: 1;
    height: 15.625em; }
  .contenedorDos {
    height: 38em; }
  .tarjeta {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "texto img";
    height: 37.5em;
    position: absolute;
    top: 550px; }
    .tarjeta__img {
      grid-area: img;
      align-self: center;
      padding-top: 100px; }
    .tarjeta__parrafo {
      font-size: 15px; }
  .noticias {
    padding-left: 15px;
    height: 65em; }
    .noticias__tarjeta {
      padding: 0px;
      width: 95%;
      height: 19em; }
    .noticias____info {
      font-size: 0.9375rem; }
  /*----- Integrantes ----*/
  .inte__titulo {
    font-size: 50px; }
  .integrante {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas: " img texto";
    transition: 1s;
    height: 410px; }
    .integrante__imagen {
      grid-area: img; }
    .integrante____contenido {
      grid-area: texto;
      padding: 20px;
      transition: 1s; }
    .integrante__titulo {
      font-size: 20px; }
    .integrante__parrafo {
      font-size: 16px; }
  .integrante2 {
    height: 350px; }
    .integrante2____contenido {
      padding: 20px; }
    .integrante2__titulo {
      font-size: 20px; }
    .integrante2__parrafo {
      font-size: 16px; }
  /*---- Discografia ----*/
  .discografia {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas: 'disco1 disco1' 'disco2 disco2' 'disco3 disco3' 'disco4 disco4' 'disco5 disco5' 'disco6 disco6' 'disco7 disco7';
    padding-left: 3em; }
  /*------ Contacto ---*/
  .contacto {
    padding-left: 40px; }
  .formCont {
    width: 95%;
    height: 600px; }
  .cont {
    width: 100%; }
  .cont__titulo {
    font-size: 30px; }
  .cont__item {
    font-size: 20px;
    padding-left: 5px; }
  .cont__user {
    font-size: 40px; }
  .cont iframe {
    width: 90%; }
  .form__label {
    font-size: 20px; }
  /*----- footer --- */
  .footer__titulo, .footer__redesTitulo {
    padding-left: 30px; }
  .footer__hr {
    width: 90%; }
  .footer__redes {
    margin-left: 60px; }
  .footer__link {
    padding-left: 20px; }
  .footer__parrafo {
    padding: 0px; } }

@media only screen and (max-width: 480px) {
  /*---- nav ------ */
  .social {
    letter-spacing: 8px; }
  /*----- index ------*/
  .contenedor {
    width: 100%;
    height: 600px; }
  .contenido {
    padding-left: 50px;
    padding-top: 10px;
    height: 150px; }
  .contenido__index {
    font-size: 25px; }
  .contenido__parrafo {
    font-size: 15px; }
  /*----- index dos------*/
  .contenedorDos {
    width: 100%;
    height: 650px; }
  .tarjeta {
    display: flex;
    flex-direction: column-reverse;
    height: 700px;
    padding-top: 100px; }
  /*---- seccion tres ------ */
  .noticias {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    height: 128em; }
    .noticias__tarjeta {
      display: flex;
      flex-direction: column;
      padding-top: 30px;
      width: 85%;
      height: 33em;
      margin: 1.875rem; }
    .noticias__img {
      width: 100%; }
    .noticias__titu {
      padding-left: 2rem; }
  /*---- Integrantes ---*/
  .integrante {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "img" "texto";
    height: 710px; }
    .integrante__imagen {
      grid-area: img;
      padding-left: 15px; }
    .integrante____contenido {
      grid-area: texto;
      padding: 20px;
      transition: 1s; }
    .integrante__titulo {
      font-size: 20px; }
    .integrante__parrafo {
      font-size: 17px; }
  .integrante2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "img2" "texto2";
    height: 610px; }
    .integrante2__imagen {
      grid-area: img2;
      padding-left: 15px; }
    .integrante2____contenido {
      grid-area: texto2;
      padding: 20px;
      transition: 1s; }
    .integrante2__titulo {
      font-size: 20px; }
    .integrante2__parrafo {
      font-size: 17px; }
  /*---- Discografia ----*/
  .disco__titu {
    font-size: 1.875em; }
  .discoUno__iframe {
    width: 10em;
    height: 100%; }
  .discoDos__iframe {
    width: 10em;
    height: 100%; }
  .discoTres__iframe {
    width: 10em;
    height: 100%; }
  .discoCuatro__iframe {
    width: 10em;
    height: 100%; }
  .discoCinco__iframe {
    width: 10em;
    height: 100%; }
  .discoSeis__iframe {
    width: 10em;
    height: 100%; }
  .discoSiete__iframe {
    width: 10em;
    height: 100%; }
  .disco__titulo1, .disco__titulo {
    font-size: 1em; }
  .disco__parrafo1, .disco__parrafo {
    font-size: 0.875em; }
  /**--------Fin Discografia---------------**/
  .wide {
    grid-column: span 1; }
  /*------ Contacto ---*/
  .contacto {
    height: 1300px;
    padding-right: 40px; }
  .formCont {
    width: 100%;
    height: 1150px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "label1" "info1"; }
  .cont {
    grid-area: label1; }
  .cont__user {
    display: flex;
    flex-direction: row;
    font-size: 60px;
    position: relative;
    top: 70px;
    right: 100px; }
  .form {
    grid-area: info1; }
  /*----- footer ---*/
  .footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "contenido" "redes" "diseñador";
    justify-content: center;
    align-items: center;
    align-content: center; }
    .footer__contenido {
      grid-area: contenido; }
    .footer__contenido hr {
      padding-left: 25px; }
    .footer__titulo, .footer__redesTitulo {
      padding-left: 160px; }
    .footer__redesTitulo {
      padding-left: 90px; }
    .footer__redes {
      grid-area: redes;
      height: 170px; }
    .footer__titular {
      grid-area: diseñador; }
    .footer__parrafo {
      padding: 0 40px; }
    .footer__link {
      padding-left: 30px; }
  /* fin de 480px*/ }
