@charset "UTF-8";
/*---- variables-----*/
/*--- fin variables---*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-size: 16px; }

/*------ Navegador ----*/
nav {
  background-color: #000; }

.nav-item {
  color: #c7c7c7; }

.nav-item:hover {
  color: #5e5e5e; }

.social {
  display: flex;
  flex-direction: row; }

/*------ Body ------*/
.main {
  background-color: #fff; }

/* seccion uno index */
.contenedorMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 'destacado destacado' 'about     about' 'noticias  noticias';
  background: #86949c;
  background: linear-gradient(0deg, #86949c 0%, black 100%);
  background-size: cover; }

.contenidoUno {
  grid-area: destacado;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.905)), url(../imagenes/img-1.jpg);
  background-size: cover;
  height: 35rem;
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contenidoUno__hr {
    width: 70%;
    height: 1px;
    background-color: #fff; }
  .contenidoUno__titulo {
    padding-top: 12.5rem;
    font-family: "Bebas Neue", cursive;
    font-size: 5rem;
    align-self: center;
    color: #fff; }
  .contenidoUno__subtitulo {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.5rem;
    align-self: center;
    color: #fff;
    padding: 1rem; }
  .contenidoUno__span {
    font-size: 2rem;
    font-family: "Bebas Neue", cursive; }

.contenidoDos {
  grid-area: about;
  background-image: url(../imagenes/blob-scene-haikei.svg);
  background-size: cover;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2.5rem;
  align-content: center;
  align-items: center; }
  .contenidoDos__texto {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px; }
  .contenidoDos__img {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-self: center; }
  .contenidoDos__hr {
    width: 60%;
    height: 1px;
    background-color: #4d4d4d;
    margin-left: 5px; }
  .contenidoDos__titulo {
    font-family: "Bebas Neue", cursive;
    font-size: 2.5rem;
    padding-left: 1.875rem;
    color: #000; }
  .contenidoDos__parrafo {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2rem;
    color: #363636;
    padding-top: 1.875rem; }

.noticias {
  grid-area: noticias;
  background-color: #383838;
  display: flex;
  flex-direction: column;
  height: 70rem;
  background-color: #424242;
  background-image: url("../imagenes/Sun-Tornado.svg");
  background-size: cover; }
  .noticias__titular {
    height: 9rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center; }
  .noticias__h2 {
    font-family: "Bebas Neue", cursive;
    font-size: 3rem; }
  .noticias__contenido {
    width: 90%;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    align-content: center;
    align-items: center;
    align-self: center;
    box-shadow: 4px 4px 7px -1px rgba(145, 145, 145, 0.75);
    -webkit-box-shadow: 4px 4px 7px -1px rgba(145, 145, 145, 0.75);
    -moz-box-shadow: 4px 4px 7px -1px rgba(145, 145, 145, 0.75);
    transition: 1s; }
  .noticias__img {
    width: 100%;
    height: 100%; }
  .noticias__titulo {
    font-family: "Bebas Neue", cursive;
    color: #000;
    padding-left: 1.25rem; }
  .noticias__info {
    font-family: "Source Sans Pro", sans-serif;
    color: #4b4b4b; }
  .noticias__texto {
    padding: 1.25rem;
    display: flex;
    flex-direction: column; }
  .noticias__btn {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 0.625em;
    background-color: #000000;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    align-self: flex-end;
    transition: 1s; }
  .noticias__btn:hover {
    transform: scale(1.04);
    background-color: #5e5e5e;
    text-decoration: none;
    color: #fff; }
  .noticias__contenido:hover {
    transform: scale(1.04); }

section {
  background-color: #192d8e;
  background-image: url(../imagenes/blob-scene-haikei2.svg);
  background-size: cover;
  margin: 0; }

/* ----- Integrantes ---- */
.inte {
  background-image: url(../imagenes/fondo.jpg);
  background-size: cover;
  height: 12.5em;
  width: 100%; }
  .inte__titulo {
    font-family: "Bebas Neue", cursive;
    color: #fff;
    font-size: 4.375em;
    text-align: center;
    margin: 0;
    padding-top: 5.625rem; }

.integrante {
  background-color: #fff;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  grid-template-areas: " img texto";
  transition: 1s;
  height: 21.875em; }
  .integrante__imagen {
    grid-area: img;
    width: 95%;
    align-self: center; }
  .integrante__contenido {
    grid-area: texto;
    padding-right: 1.25em;
    transition: 1s; }
  .integrante__titulo {
    font-family: "Bebas Neue", cursive;
    color: #000;
    text-decoration: underline;
    font-size: 1.875em;
    padding-left: 1.25em;
    padding-top: 0.625em; }
  .integrante__parrafo {
    font-family: "Source Sans Pro", sans-serif;
    color: #3f3f3f;
    font-size: 1.25em; }
  .integrante__contenido:hover {
    transform: scale(1.03); }

.integrante2 {
  background-color: #222222;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  grid-template-areas: " texto2 img2";
  transition: 1s;
  height: 20em; }
  .integrante2__imagen {
    grid-area: img2;
    width: 95%;
    align-self: center; }
  .integrante2__contenido {
    grid-area: texto2;
    padding-right: 1.875em;
    transition: 1s; }
  .integrante2__titulo {
    font-family: "Bebas Neue", cursive;
    color: white;
    text-decoration: underline;
    font-size: 1.875em;
    padding-left: 1.25em;
    padding-top: 1.875em; }
  .integrante2__parrafo {
    font-family: "Source Sans Pro", sans-serif;
    color: #d1d1d1;
    font-size: 1.25em; }
  .integrante2__contenido:hover {
    transform: scale(1.03); }

/*--------- Final integrantes flexbox ------ */
h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.875em;
  color: #fff; }

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25em;
  color: #fff;
  padding: 0.625em 1.25em; }

/* ------ Discografia Css Grid---- */
.disco {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 12.5em; }
  .disco__titulo {
    font-family: "Bebas Neue", cursive;
    font-size: 3.75em;
    align-self: center;
    padding-top: 3.75rem; }

.mainDiscografia {
  background-image: url(../imagenes/Sun-Tornado.svg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'titulo' 'discografia'; }

.discografia {
  grid-area: discografia;
  display: flex;
  flex-direction: column; }
  .discografia__contenido {
    width: 90%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    align-content: center;
    align-items: center;
    align-self: center;
    box-shadow: 4px 4px 7px -1px rgba(145, 145, 145, 0.75);
    -webkit-box-shadow: 4px 4px 7px -1px rgba(145, 145, 145, 0.75);
    -moz-box-shadow: 4px 4px 7px -1px rgba(145, 145, 145, 0.75);
    transition: 1s; }
  .discografia__titulo {
    font-family: "Bebas Neue", cursive;
    color: #000;
    padding-left: 1.25rem; }
  .discografia__info {
    font-family: "Source Sans Pro", sans-serif;
    color: #4b4b4b; }
  .discografia__time {
    font-family: "Source Sans Pro", sans-serif;
    color: #4b4b4b; }
  .discografia__texto {
    padding: 2rem;
    display: flex;
    flex-direction: column; }
  .discografia__iframe {
    width: 20rem;
    height: 100%; }
  .discografia__contenido:hover {
    transform: scale(1.04); }

/*--- ------ final de discografia ---- */
/*----- Galeria -----*/
.gale {
  background-image: url(../imagenes/fondo.jpg);
  background-size: cover;
  height: 12rem;
  width: 100%; }
  .gale__titulo {
    font-family: "Bebas Neue", cursive;
    color: #fff;
    font-size: 4.375em;
    text-align: center;
    margin: 0;
    padding-top: 5.625rem; }

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  gap: 15px;
  padding: 10px;
  grid-auto-flow: dense; }
  .galeria__item-1, .galeria__item-2, .galeria__item-3, .galeria__item-4, .galeria__item-5, .galeria__item-6, .galeria__item-7, .galeria__item-8, .galeria__item-9, .galeria__item-10 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imagenes/galeria4.jpg);
    align-content: center;
    border-radius: 2px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s; }
  .galeria__item-2 {
    background-image: url(../imagenes/galeria2.jpg); }
  .galeria__item-3 {
    background-image: url(../imagenes/galeria3.jpg); }
  .galeria__item-4 {
    background-image: url(../imagenes/galeria14.jpg); }
  .galeria__item-5 {
    background-image: url(../imagenes/galeria5.jpg); }
  .galeria__item-6 {
    background-image: url(../imagenes/galeria6.jpg); }
  .galeria__item-7 {
    background-image: url(../imagenes/galeria7.jpg); }
  .galeria__item-8 {
    background-image: url(../imagenes/galeria8.jpg); }
  .galeria__item-9 {
    background-image: url(../imagenes/galeria9.jpg); }
  .galeria__item-10 {
    background-image: url(../imagenes/galeria12.jpg); }

.wide {
  grid-column: span 2; }

.galeria div {
  transition: 1s; }

.galeria div:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 3px #838383; }

/*---- Final Galeria ----*/
/*------- Contacto ------- */
.contacto {
  background: black;
  background: linear-gradient(74deg, black 0%, #545454 48%, #969696 93%);
  height: 800px;
  padding-top: 110px;
  padding-left: 90px; }

.formCont {
  width: 90%;
  height: 600px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  grid-template-areas: " info label";
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); }

.cont {
  grid-area: info;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../imagenes/contac.jpg);
  background-size: cover; }
  .cont__titulo {
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px; }
  .cont__item {
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    word-spacing: 5px; }
  .cont__mapa {
    font-family: 'Bebas Neue', cursive; }
  .cont__mapa iframe {
    width: 30%;
    height: 150px; }
  .cont__user {
    color: #fff;
    font-size: 60px; }
  .cont hr {
    background-color: #fff;
    width: 99%;
    height: 0.5px; }

.form {
  grid-area: label;
  display: flex;
  flex-direction: column;
  padding: 30px 40px; }
  .form__titu {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: #000; }
  .form__info {
    display: flex;
    flex-direction: column; }
  .form__label {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px; }
  .form__input {
    width: 70%;
    border: none;
    border-bottom: 2px solid #222222;
    transition: 1s; }
  .form__text {
    width: 70%;
    height: 70px;
    border: none;
    border-bottom: 2px solid #222222; }
  .form__btn {
    width: 40%;
    background-color: #222222;
    padding: 10px;
    border: none;
    border-radius: 25px;
    align-self: flex-end;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    top: 40px;
    transition: 1s; }
  .form__input:hover {
    border: none;
    border-bottom: 4px solid black; }
  .form__btn:hover {
    background-color: #868686;
    transform: scale(1.03); }

/*------ Final Contacto ------- */
/*----- Footer ---------*/
.footer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: " texto redes" "diseñador diseñador";
  background-color: #1b1b1b; }
  .footer__contenido {
    grid-area: texto;
    align-self: center;
    padding-left: 30px;
    transition: 1s; }
  .footer__hr {
    width: 90%;
    background-color: #eee;
    height: 1px;
    align-self: center; }
  .footer__titulo, .footer__redesTitulo {
    font-family: "Bebas Neue", cursive;
    font-size: 25px;
    color: #fff;
    padding-top: 30px;
    padding-left: 130px; }
  .footer__redes {
    grid-area: redes;
    font-size: 30px; }
  .footer__link {
    color: #9c9c9c;
    text-decoration: none;
    padding-left: 40px;
    padding-top: 20px; }
  .footer__parrafo {
    color: #9c9c9c;
    font-size: 18px;
    padding-right: 140px; }
  .footer__titular {
    grid-area: diseñador;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #272727;
    align-self: center;
    align-items: center;
    word-spacing: 3px; }
  .footer__diseñador {
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    font-size: 15px; }
  .footer__linke {
    font-family: "Bebas Neue", cursive;
    color: #c0c0c0;
    text-decoration: none;
    font-size: 19px;
    transition: 1s; }
  .footer__contenido:hover {
    transform: scale(1.04);
    color: #fff; }
  .footer__link:hover {
    transform: scale(1.04);
    color: #fff;
    text-decoration: none; }
  .footer__linke:hover {
    transform: scale(1.04);
    color: #fff;
    text-decoration: none; }

/*------ media queries---------*/
@media only screen and (max-width: 768px) {
  .main {
    width: 100%; }
  .contenidoUno__subtitulo {
    background-color: rgba(0, 0, 0, 0.514); }
  .contenidoDos {
    display: flex;
    flex-direction: row;
    height: 61rem; }
    .contenidoDos__texto {
      width: 100%;
      font-size: 2rem; }
    .contenidoDos__tiulo {
      padding-top: 10px; }
    .contenidoDos__img {
      width: 100%;
      height: 30rem; }
  .noticias {
    height: 78rem; }
    .noticias__titulo {
      font-size: 1.5rem; }
    .noticias__info {
      font-size: 1rem; }
    .noticias__img {
      width: 18.75rem;
      height: 100%; }
  /*----- Integrantes ----*/
  .inte__titulo {
    font-size: 50px; }
  .integrante {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas: " img texto";
    transition: 1s;
    height: 410px; }
    .integrante__imagen {
      grid-area: img; }
    .integrante____contenido {
      grid-area: texto;
      padding: 20px;
      transition: 1s; }
    .integrante__titulo {
      font-size: 20px; }
    .integrante__parrafo {
      font-size: 16px; }
  .integrante2 {
    height: 350px; }
    .integrante2____contenido {
      padding: 20px; }
    .integrante2__titulo {
      font-size: 20px; }
    .integrante2__parrafo {
      font-size: 16px; }
  /*---- Discografia ----*/
  .mainDiscografia {
    height: auto; }
  .discografia__iframe {
    width: 20rem;
    height: 100%; }
  /*------ Contacto ---*/
  .contacto {
    padding-left: 40px; }
  .formCont {
    width: 95%;
    height: 600px; }
  .cont {
    width: 100%; }
  .cont__titulo {
    font-size: 30px; }
  .cont__item {
    font-size: 20px;
    padding-left: 5px; }
  .cont__user {
    font-size: 40px; }
  .cont iframe {
    width: 90%; }
  .form__label {
    font-size: 20px; }
  /*----- footer --- */
  .footer__titulo, .footer__redesTitulo {
    padding-left: 30px; }
  .footer__hr {
    width: 90%; }
  .footer__redes {
    margin-left: 60px; }
  .footer__link {
    padding-left: 20px; }
  .footer__parrafo {
    padding: 0px; } }

@media only screen and (max-width: 480px) {
  /*---- nav ------ */
  .social {
    letter-spacing: 8px; }
  /*----- index ------*/
  .contenidoUno__titulo {
    font-size: 5rem; }
  .contenidoUno__subtitulo {
    font-size: 2rem;
    display: flex;
    flex-direction: column; }
  .contenidoUno__span {
    font-size: 2rem; }
  .contenidoDos {
    height: 80rem;
    padding: 10px; }
    .contenidoDos__texto {
      font-size: 1rem; }
  .noticias {
    height: 120rem; }
    .noticias__contenido {
      display: flex;
      flex-direction: column; }
    .noticias__img {
      width: 100%;
      height: 100%; }
  /*---- Integrantes ---*/
  .integrante {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "img" "texto";
    height: 710px; }
    .integrante__imagen {
      grid-area: img;
      padding-left: 15px; }
    .integrante____contenido {
      grid-area: texto;
      padding: 20px;
      transition: 1s; }
    .integrante__titulo {
      font-size: 20px; }
    .integrante__parrafo {
      font-size: 17px; }
  .integrante2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "img2" "texto2";
    height: 610px; }
    .integrante2__imagen {
      grid-area: img2;
      padding-left: 15px; }
    .integrante2____contenido {
      grid-area: texto2;
      padding: 20px;
      transition: 1s; }
    .integrante2__titulo {
      font-size: 20px; }
    .integrante2__parrafo {
      font-size: 17px; }
  /*---- Discografia ----*/
  .mainDiscografia {
    height: auto; }
  .disco__titulo {
    font-size: 3.5rem; }
  .discografia__contenido {
    display: flex;
    flex-direction: column-reverse; }
  .discografia__iframe {
    width: 100%; }
  /**--------Fin Discografia---------------**/
  .wide {
    grid-column: span 1; }
  /*------ Contacto ---*/
  .contacto {
    height: 1300px;
    padding-right: 40px; }
  .formCont {
    width: 100%;
    height: 1150px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "label1" "info1"; }
  .cont {
    grid-area: label1; }
  .cont__user {
    display: flex;
    flex-direction: row;
    font-size: 60px;
    position: relative;
    top: 70px;
    right: 100px; }
  .form {
    grid-area: info1; }
  /*----- footer ---*/
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0px;
    padding: 0px; }
    .footer__contenido {
      grid-area: contenido;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center; }
    .footer__contenido hr {
      padding-left: 25px; }
    .footer__titulo, .footer__redesTitulo {
      align-self: center; }
    .footer__redesTitulo {
      align-self: center; }
    .footer__redes {
      grid-area: redes;
      height: 170px; }
    .footer__titular {
      grid-area: diseñador;
      width: 100%; }
    .footer__parrafo {
      padding: 0 40px; }
    .footer__link {
      align-self: center; }
  /* fin de 480px*/ }
