@charset "UTF-8";
/*---- variables-----*/
/*--- fin variables---*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*------ Navegador ----*/
nav {
  background-color: #000; }

.nav-item {
  color: #c7c7c7; }

.nav-item:hover {
  color: #5e5e5e; }

.social {
  display: flex;
  flex-direction: row; }

/*------ Body ------*/
.main {
  background: #86949c;
  background: linear-gradient(0deg, #86949c 0%, #112d60 100%);
  background-size: cover; }

/* seccion uno index */
.contenedor {
  background-image: url(../imagenes/img-1.jpg);
  background-size: cover;
  height: 37.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  overflow: hidden;
  margin-top: 2.5rem; }

.contenido {
  background-color: rgba(238, 238, 238, 0.89);
  height: 12.5rem;
  grid-column: 1/span 9;
  position: relative;
  top: 18.75rem;
  right: 2.5rem;
  padding-left: 15.625rem;
  transition: 1s; }
  .contenido__index {
    font-family: "Bebas Neue", cursive;
    font-size: 3.75rem;
    color: #202020;
    padding-left: 1.125rem; }
  .contenido__parrafo {
    font-family: "Source Sans Pro", sans-serif;
    color: #1b1b1b;
    position: relative;
    bottom: 1.563rem; }
  .contenido .contenido:hover {
    transform: scale(1.03); }

/* --- seccion dos indexx ---- */
.contenedorDos {
  background-color: #fff;
  height: 31.25rem; }

.tarjeta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "texto img";
  justify-content: center;
  height: 25rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 4.375rem; }
  .tarjeta__img {
    grid-area: img;
    width: 100%;
    height: 18.75rem;
    align-self: center; }
  .tarjeta__contenido {
    color: #000;
    padding: 20px;
    height: 18.75rem;
    align-self: center; }
  .tarjeta__span {
    background-color: #222222;
    width: 0.313rem;
    height: 1.875rem;
    position: relative;
    bottom: 2.813rem;
    left: 1.25rem; }
  .tarjeta__titulo {
    color: #000;
    font-family: "Bebas Neue", cursive;
    font-size: 1.875rem;
    padding-left: 2.5rem; }
  .tarjeta__parrafo {
    color: #444444;
    font-size: 1rem;
    position: relative;
    bottom: 1.25rem; }

/*----- secion tres index ------ */
.noticias {
  background-color: #222222;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-content: space-evenly;
  align-content: center;
  height: 37.5rem;
  padding-left: 2.5rem; }
  .noticias__titular {
    font-family: "Bebas Neue", cursive;
    color: #fff;
    grid-row: 1;
    font-size: 2.5rem;
    align-self: center;
    align-items: center; }
  .noticias__hr {
    width: 80%;
    background-color: #fff;
    height: 0.063rem;
    grid-row: 1; }
  .noticias__tarjeta {
    grid-row: 2;
    background-color: #000000;
    width: 90%;
    padding: 0.625rem;
    height: 28.75rem;
    transition: 1s;
    box-shadow: 1px 2px 5px 0px #4e4e4e;
    align-self: center; }
  .noticias__img {
    width: 99%; }
  .noticias__info {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    color: #ffffff; }
  .noticias__tarjeta:hover {
    transform: scale(1.03); }

section {
  background-color: #192d8e;
  background-image: url(../imagenes/fondo.jpg);
  background-size: cover;
  margin: 0; }

/* ----- Integrantes ---- */
.inte {
  background-image: url(../imagenes/fondo.jpg);
  background-size: cover;
  height: 200px;
  width: 100%; }
  .inte__titulo {
    font-family: "Bebas Neue", cursive;
    color: #fff;
    font-size: 70px;
    text-align: center;
    margin: 0;
    padding-top: 5.625rem; }

.integrante {
  background-color: #fff;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  grid-template-areas: " img texto";
  transition: 1s;
  height: 350px; }
  .integrante__imagen {
    grid-area: img;
    width: 95%;
    align-self: center; }
  .integrante__contenido {
    grid-area: texto;
    padding-right: 20px;
    transition: 1s; }
  .integrante__titulo {
    font-family: "Bebas Neue", cursive;
    color: #000;
    text-decoration: underline;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 10px; }
  .integrante__parrafo {
    font-family: "Source Sans Pro", sans-serif;
    color: #3f3f3f;
    font-size: 20px; }
  .integrante__contenido:hover {
    transform: scale(1.03); }

.integrante2 {
  background-color: #222222;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  grid-template-areas: " texto2 img2";
  transition: 1s;
  height: 320px; }
  .integrante2__imagen {
    grid-area: img2;
    width: 95%;
    align-self: center; }
  .integrante2__contenido {
    grid-area: texto2;
    padding-right: 30px;
    transition: 1s; }
  .integrante2__titulo {
    font-family: "Bebas Neue", cursive;
    color: white;
    text-decoration: underline;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 30px; }
  .integrante2__parrafo {
    font-family: "Source Sans Pro", sans-serif;
    color: #d1d1d1;
    font-size: 20px; }
  .integrante2__contenido:hover {
    transform: scale(1.03); }

/*--------- Final integrantes flexbox ------ */
h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  color: #fff; }

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: #fff;
  padding: 10px 20px; }

/* ------ Discografia Css Grid---- */
.disco {
  display: flex;
  flex-direction: row;
  background-image: url(../imagenes/fondo.jpg);
  background-size: cover;
  padding-top: 120px;
  height: 200px;
  justify-content: space-between; }
  .disco__titu {
    font-family: "Bebas Neue", cursive;
    color: #fff;
    font-size: 70px;
    text-align: center;
    margin: 0;
    padding-top: 5.625rem;
    position: relative;
    left: 100px;
    bottom: 100px; }

.cd {
  background: #f5f5f5;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 520px;
  grid-template-areas: "histo1 spoty1"; }
  .cd__parrafo {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    grid-area: histo1;
    padding: 40px; }
  .cd__parrafo--padding {
    padding-top: 70px;
    padding-left: 40px; }
  .cd__album {
    align-self: center;
    grid-area: spoty1;
    padding-left: 30px; }

.cd iframe {
  width: 250px;
  height: 380px;
  padding-left: 20px; }

.cd p {
  color: #000; }

.cd2 {
  background: #222222;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 520px;
  grid-template-areas: "spoty2 histo2";
  justify-content: space-between;
  padding-top: 70px; }
  .cd2__histo2 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    grid-area: histo2;
    color: #fff; }

.cd2 iframe {
  width: 250px;
  height: 380px;
  padding-left: 20px; }

.cd3 {
  background: #f5f5f5;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 520px;
  grid-template-areas: "histo3 spoty3";
  padding-top: 60px;
  padding-left: 40px; }
  .cd3__parrafo3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    grid-area: histo3;
    padding-bottom: 30px; }

.cd3 iframe {
  width: 250px;
  height: 380px;
  padding-left: 20px; }

.cd3 p {
  color: #000; }

/*--- ------ final de discografia ---- */
/*------ Galeria -----*/
.gale {
  background-image: url(../imagenes/fondo.jpg);
  background-size: cover;
  height: 200px;
  width: 100%; }
  .gale__titulo {
    font-family: "Bebas Neue", cursive;
    color: #fff;
    font-size: 70px;
    text-align: center;
    margin: 0;
    padding-top: 5.625rem;
    padding-top: 90px; }

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  gap: 10px;
  padding: 10px;
  grid-auto-flow: dense; }
  .galeria__item-1, .galeria__item-2, .galeria__item-3, .galeria__item-4, .galeria__item-5, .galeria__item-6, .galeria__item-7, .galeria__item-8, .galeria__item-9, .galeria__item-10 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imagenes/galeria1.jpg);
    align-content: center;
    border-radius: 2px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .galeria__item-2 {
    background-image: url(../imagenes/galeria11.jpg); }
  .galeria__item-3 {
    background-image: url(../imagenes/galeria3.jpg); }
  .galeria__item-4 {
    background-image: url(../imagenes/galeria4.jpg); }
  .galeria__item-5 {
    background-image: url(../imagenes/galeria5.jpg); }
  .galeria__item-6 {
    background-image: url(../imagenes/galeria6.jpg); }
  .galeria__item-7 {
    background-image: url(../imagenes/galeria7.jpg); }
  .galeria__item-8 {
    background-image: url(../imagenes/galeria8.jpg); }
  .galeria__item-9 {
    background-image: url(../imagenes/galeria9.jpg); }
  .galeria__item-10 {
    background-image: url(../imagenes/galeria12.jpg); }

.wide {
  grid-column: span 2; }

.galeria div {
  transition: 1s; }

.galeria div:hover {
  transform: scale(1.04);
  box-shadow: 3px 3px 3px #838383; }

/*---- Final Galeria ----*/
/*------- Contacto ------- */
.contacto {
  background: black;
  background: linear-gradient(74deg, black 0%, #545454 48%, #969696 93%);
  height: 800px;
  padding-top: 110px;
  padding-left: 90px; }

.formCont {
  width: 90%;
  height: 600px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  grid-template-areas: " info label";
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); }

.cont {
  grid-area: info;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../imagenes/contac.jpg);
  background-size: cover; }
  .cont__titulo {
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px; }
  .cont__item {
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    word-spacing: 5px; }
  .cont__mapa {
    font-family: 'Bebas Neue', cursive; }
  .cont__mapa iframe {
    width: 30%;
    height: 150px; }
  .cont__user {
    color: #fff;
    font-size: 60px; }
  .cont hr {
    background-color: #fff;
    width: 99%;
    height: 0.5px; }

.form {
  grid-area: label;
  display: flex;
  flex-direction: column;
  padding: 30px 40px; }
  .form__titu {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: #000; }
  .form__info {
    display: flex;
    flex-direction: column; }
  .form__label {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px; }
  .form__input {
    width: 70%;
    border: none;
    border-bottom: 2px solid #222222;
    transition: 1s; }
  .form__text {
    width: 70%;
    height: 70px;
    border: none;
    border-bottom: 2px solid #222222; }
  .form__btn {
    width: 40%;
    background-color: #222222;
    padding: 10px;
    border: none;
    border-radius: 25px;
    align-self: flex-end;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    top: 40px;
    transition: 1s; }
  .form__input:hover {
    border: none;
    border-bottom: 4px solid black; }
  .form__btn:hover {
    background-color: #868686;
    transform: scale(1.03); }

/*------ Final Contacto ------- */
/*----- Footer ---------*/
.footer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: " texto redes" "diseñador diseñador";
  background-color: #1b1b1b; }
  .footer__contenido {
    grid-area: texto;
    align-self: center;
    padding-left: 30px;
    transition: 1s; }
  .footer__hr {
    width: 90%;
    background-color: #eee;
    height: 1px;
    align-self: center; }
  .footer__titulo, .footer__redesTitulo {
    font-family: "Bebas Neue", cursive;
    font-size: 25px;
    color: #fff;
    padding-top: 30px;
    padding-left: 130px; }
  .footer__redes {
    grid-area: redes;
    font-size: 30px; }
  .footer__link {
    color: #9c9c9c;
    text-decoration: none;
    padding-left: 40px;
    padding-top: 20px; }
  .footer__parrafo {
    color: #9c9c9c;
    font-size: 18px;
    padding-right: 140px; }
  .footer__titular {
    grid-area: diseñador;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #272727;
    align-self: center;
    align-items: center;
    word-spacing: 3px; }
  .footer__diseñador {
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    font-size: 15px; }
  .footer__linke {
    font-family: "Bebas Neue", cursive;
    color: #c0c0c0;
    text-decoration: none;
    font-size: 19px;
    transition: 1s; }
  .footer__contenido:hover {
    transform: scale(1.04);
    color: #fff; }
  .footer__link:hover {
    transform: scale(1.04);
    color: #fff;
    text-decoration: none; }
  .footer__linke:hover {
    transform: scale(1.04);
    color: #fff;
    text-decoration: none; }

/*------ media queries---------*/
@media only screen and (max-width: 768px) {
  .main {
    width: 100%; }
  .contenedor {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto; }
  .contenido {
    grid-column: 1/span 8;
    grid-row: 1; }
  .contenedorDos {
    height: 600px; }
  .tarjeta {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "texto img";
    height: 600px;
    position: absolute;
    top: 670px; }
    .tarjeta__img {
      grid-area: img;
      align-self: center;
      padding-top: 100px; }
    .tarjeta__parrafo {
      font-size: 15px; }
  .noticias {
    padding-left: 15px; }
    .noticias__tarjeta {
      padding: 0px;
      width: 95%; }
    .noticias____info {
      font-size: 13px; }
  /*----- Integrantes ----*/
  .inte__titulo {
    font-size: 50px; }
  .integrante {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas: " img texto";
    transition: 1s;
    height: 410px; }
    .integrante__imagen {
      grid-area: img; }
    .integrante____contenido {
      grid-area: texto;
      padding: 20px;
      transition: 1s; }
    .integrante__titulo {
      font-size: 20px; }
    .integrante__parrafo {
      font-size: 16px; }
  .integrante2 {
    height: 350px; }
    .integrante2____contenido {
      padding: 20px; }
    .integrante2__titulo {
      font-size: 20px; }
    .integrante2__parrafo {
      font-size: 16px; }
  /*---- Discografia ----*/
  .disco {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 220px; }
    .disco__titu {
      grid-column: 1; }
    .disco__fol {
      grid-column: 2;
      position: relative;
      left: 140px; }
  .cd {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 300px 400px;
    grid-template-areas: "texto" "links";
    padding-left: 30px;
    padding-bottom: 20px; }
    .cd__album {
      grid-area: links;
      width: 200;
      height: 330px;
      padding-left: 40px; }
  .cd iframe {
    width: 200px;
    height: 320px; }
  .cd2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px 300px;
    grid-template-areas: "spoty2" "histo2";
    padding-left: 30px;
    padding-bottom: 20px; }
    .cd2__histo2 {
      grid-area: histo2;
      padding: 40px;
      padding-bottom: 20px; }
  .cd2 iframe {
    width: 200px;
    height: 320px; }
  .cd3 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 300px 400px;
    grid-template-areas: "texto3" "spoty3";
    padding-left: 30px;
    padding-bottom: 20px; }
    .cd3__parrafo3 {
      grid-area: texto3; }
  .cd3 iframe {
    width: 200px;
    height: 320px; }
  /*------ Contacto ---*/
  .contacto {
    padding-left: 40px; }
  .formCont {
    width: 95%;
    height: 600px; }
  .cont {
    width: 100%; }
  .cont__titulo {
    font-size: 30px; }
  .cont__item {
    font-size: 20px;
    padding-left: 5px; }
  .cont__user {
    font-size: 40px; }
  .cont iframe {
    width: 90%; }
  .form__label {
    font-size: 20px; }
  /*----- footer --- */
  .footer__titulo, .footer__redesTitulo {
    padding-left: 30px; }
  .footer__hr {
    width: 90%; }
  .footer__redes {
    margin-left: 60px; }
  .footer__link {
    padding-left: 20px; }
  .footer__parrafo {
    padding: 0px; } }

@media only screen and (max-width: 480px) {
  /*---- nav ------ */
  .social {
    letter-spacing: 8px; }
  /*----- index ------*/
  .contenedor {
    width: 100%;
    height: 600px; }
  .contenido {
    padding-left: 50px;
    padding-top: 10px;
    height: 150px; }
  .contenido__index {
    font-size: 25px; }
  .contenido__parrafo {
    font-size: 15px; }
  /*----- index dos------*/
  .contenedorDos {
    width: 100%;
    height: 650px; }
  .tarjeta {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "texto" "imagen"; }
    .tarjeta__contenido {
      grid-area: texto; }
    .tarjeta__img {
      grid-area: imagen;
      width: 100%;
      height: 100%; }
  /*---- seccion tres ------ */
  .noticias {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 120rem;
    padding-left: 13px; }
    .noticias__tarjeta {
      width: 85%;
      height: 31.25rem;
      margin: 1.875rem; }
    .noticias__titu {
      padding-left: 2rem; } }

/*---- Integrantes ---*/
.integrante {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "img" "texto";
  height: 710px; }
  .integrante__imagen {
    grid-area: img;
    padding-left: 15px; }
  .integrante____contenido {
    grid-area: texto;
    padding: 20px;
    transition: 1s; }
  .integrante__titulo {
    font-size: 20px; }
  .integrante__parrafo {
    font-size: 17px; }

.integrante2 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "img2" "texto2";
  height: 610px; }
  .integrante2__imagen {
    grid-area: img2;
    padding-left: 15px; }
  .integrante2____contenido {
    grid-area: texto2;
    padding: 20px;
    transition: 1s; }
  .integrante2__titulo {
    font-size: 20px; }
  .integrante2__parrafo {
    font-size: 17px; }

/*---- Discografia ----*/
.disco {
  display: flex;
  flex-direction: column;
  height: 20rem; }
  .disco__titu {
    font-size: 3rem;
    align-self: start; }
  .disco__fol {
    position: relative;
    bottom: 3.125rem; }

.cd {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px 600px;
  grid-template-areas: "texto" "links";
  padding-bottom: 20px;
  padding-left: 1px;
  height: 900px; }
  .cd__parrafo--padding {
    font-size: 18px; }

.cd iframe {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 450px;
  height: 170px;
  padding-bottom: 10px;
  position: relative;
  bottom: 100px;
  right: 25px; }

.cd2 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px 400px;
  grid-template-areas: "texto2" "links2";
  height: 900px; }
  .cd2__histo2 {
    font-size: 18px;
    grid-area: texto2;
    position: relative;
    bottom: 100px; }
  .cd2__album2 {
    grid-area: links2; }

.cd2 iframe {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 450px;
  height: 170px;
  padding-bottom: 10px;
  position: relative;
  right: 20px; }

.cd3 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px 400px;
  grid-template-areas: "texto3" "links3";
  height: 1050px;
  padding-left: 30px;
  padding-bottom: 20px; }
  .cd3__parrafo {
    font-size: 18px; }

.cd3 iframe {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 450px;
  height: 170px;
  padding-bottom: 10px;
  position: relative;
  top: 150px;
  right: 20px; }

.wide {
  grid-column: span 1; }

/*------ Contacto ---*/
.contacto {
  height: 1300px;
  padding-right: 40px; }

.formCont {
  width: 100%;
  height: 1150px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "label1" "info1"; }

.cont {
  grid-area: label1; }

.cont__user {
  display: flex;
  flex-direction: row;
  font-size: 60px;
  position: relative;
  top: 70px;
  right: 100px; }

.form {
  grid-area: info1; }

/*----- footer ---*/
.footer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "contenido" "redes" "diseñador";
  justify-content: center;
  align-items: center;
  align-content: center; }
  .footer__contenido {
    grid-area: contenido; }
  .footer__contenido hr {
    padding-left: 25px; }
  .footer__titulo, .footer__redesTitulo {
    padding-left: 160px; }
  .footer__redesTitulo {
    padding-left: 90px; }
  .footer__redes {
    grid-area: redes;
    height: 170px; }
  .footer__titular {
    grid-area: diseñador; }
  .footer__parrafo {
    padding: 0 40px; }
  .footer__link {
    padding-left: 30px; }
