
/*---- variables-----*/
$titulo:   'Bebas Neue', cursive;
$titulo2:  'Source Sans Pro', sans-serif;

@mixin estiloTitulos($tamaño, $colorLetra) {
      font-family: $titulo;
      color: $colorLetra;
      font-size: $tamaño;
      text-align: center;
      margin: 0;
      padding-top: 5.625rem;
}

/*--- fin variables---*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
 body{
   font-size: 16px;
 } 
  

  /*------ Navegador ----*/
  
  nav{
      background-color: #000;
  }
  .nav-item{
    color:#c7c7c7;
  }
  .nav-item:hover{
    color: #5e5e5e;
  }
  .social{
    display: flex;
    flex-direction: row;
  }
  
  /*------ Body ------*/
  
  
  .main{
    background-color: #fff;
  }
  /* seccion uno index */
 .contenedorMain{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: auto;
   grid-template-areas: 'destacado destacado'
                        'about     about'
                       'noticias  noticias';
   background: rgb(134,148,156);
   background: linear-gradient(0deg, rgba(134,148,156,1) 0%, rgb(0, 0, 0) 100%);
   background-size: cover;

 }
 .contenidoUno{
   grid-area: destacado;
   background-image:url(../imagenes/img-1.jpg);
   background-size: cover;
   height: 35rem;
   width: 100%;
   margin-top: 1.875rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center ;

   &__titulo{
     padding-top: 12.5rem;
     font-family: $titulo;
     font-size: 5rem;
     align-self: center;
     color: #fff;
   }
   &__subtitulo{
     font-family: $titulo2;
     font-size: 1.5rem;
     align-self: center;
     color: #fff;
     padding: 1rem;
   }
   &__span{
     font-size:2rem;
     font-family: $titulo;
   }
 }
 .contenidoDos{
   grid-area:about ;
   background-color: #eee;
   height: 45rem;
   width: 100%;
   display:flex;
   flex-direction:row;
   flex-wrap: wrap;
   padding: 2.5rem;
   align-content: center;
   align-items: center;
   
   
   &__texto{
     display: flex;
     flex-direction: column;
     width: 50%;
   }
   &__img{
     width:36rem;
     height: 100%;
   }
   &__titulo{
     font-family:$titulo;
     font-size: 2.5rem;
     padding-left: 1.875rem;
     color: #000;
     text-decoration:underline #363636;
   }
   &__parrafo{
     font-family:$titulo2;
     font-size: 1.3rem;
     color: #363636;
     padding-top: 1.875rem;
     
   }
 }
 
 .noticias{
   grid-area: noticias;
   background-color: #383838;
   display: flex;
   flex-direction: column;
   height: 70rem;
   background-color: #424242;
   background-image: url("../imagenes/Sun-Tornado.svg");
   background-size: cover;

   &__titular{
    height: 9rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    
   }

   &__h2{
     font-family: $titulo;
     font-size: 3rem;
   }
   &__contenido{
    width: 90%;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    align-content: center;
    align-items: center;
    align-self: center;
    box-shadow: 4px 4px 7px -1px rgba(145,145,145,0.75);
    -webkit-box-shadow: 4px 4px 7px -1px rgba(145,145,145,0.75);
    -moz-box-shadow: 4px 4px 7px -1px rgba(145,145,145,0.75);
    transition: 1s;
   }

   &__img{
     width: 100%;
     height: 100%;
   }
   &__titulo{
     font-family: $titulo;
     color: #000;
     padding-left:1.25rem;
   }
  &__info{
    font-family: $titulo2;
    color: #4b4b4b;
  }
  &__texto{
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
  }
  &__btn{
    color: #fff;
    cursor: pointer;
     display: inline-block;
    padding: 0.625em; 
    background-color: #000000;
    font-size: 1em; 
    text-transform: uppercase;
    letter-spacing: 1px;
    align-self: flex-end;
    transition: 1s;
  }
  &__btn:hover{
    transform: scale(1.04);
    background-color: #5e5e5e ;
    text-decoration: none;
    color: #fff;
  }
  &__contenido:hover{
    transform:scale(1.04);
  }
 }
  
  section{
    background-color: #192d8e;
  background-image: url(../imagenes/fondo.jpg);
  background-size: cover;
      margin: 0;
  }
  
  /* ----- Integrantes ---- */
  .inte{
    background-image: url(../imagenes/fondo.jpg);
    background-size:cover;
    height: 12.5em;
    width: 100%;

    &__titulo {
      @include estiloTitulos(4.375em,#fff);
  }
  }
  
  
  .integrante{
    background-color: #fff;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas:" img texto";
    transition: 1s;
    height: 21.875em;

    &__imagen{
      grid-area: img;
      width: 95%;
      align-self: center;
    }
    &__contenido{
      grid-area: texto;
      padding-right: 1.25em;
      transition: 1s;
    }
    &__titulo{
     font-family: $titulo;
     color: #000;
     text-decoration: underline;
     font-size: 1.875em;
     padding-left: 1.25em;
     padding-top: 0.625em;
    }
    &__parrafo{
    font-family: $titulo2;
     color: #3f3f3f;
     font-size: 1.25em;
    }

    &__contenido:hover{
      transform: scale(1.03);
    }
  }

  .integrante2{
    background-color: #222222;
    display: grid;
    grid-template-columns:60% 40% ;
    grid-template-rows: auto;
    grid-template-areas:" texto2 img2";
    
    transition: 1s;
    height: 20em;

    &__imagen{
      grid-area: img2;
      width: 95%;
      align-self: center;
      
    }
    &__contenido{
      grid-area: texto2;
      padding-right: 1.875em;
      transition:1s;
    }
    &__titulo{
      font-family: $titulo;
      color: rgb(255, 255, 255);
      text-decoration: underline;
      font-size: 1.875em;
      padding-left: 1.25em;
      padding-top: 1.875em;
     }
     &__parrafo{
     font-family: $titulo2;
      color: #d1d1d1;
      font-size: 1.25em;
     }
    
     &__contenido:hover{
       transform: scale(1.03);
     }
  }
    
  
  
  /*--------- Final integrantes flexbox ------ */
  
  
  
  
  h2 {
      font-family: $titulo2;
      font-size: 1.875em;
      color:#fff;
  }
  
  p{
      font-family: $titulo2;
      font-size: 1.25em;
      color: #fff;
      padding: 0.625em 1.25em; 
  }
  
  /* ------ Discografia Css Grid---- */
  .disco{
     display: flex;
     align-content: center;
     align-items: center;
     justify-content: center;
     height: 12.5em;
     
     &__titulo {
       font-family: $titulo;
       font-size: 3.75em;
       align-self: center;
       padding-top: 3.75rem;

     }
     
  }
  .mainDiscografia{
    background-image: url(../imagenes/Sun-Tornado.svg);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'titulo'
                         'discografia';
  }

  .discografia{
    grid-area: discografia;
    display: flex;
    flex-direction: column;
    
    &__contenido{
      width: 90%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    align-content: center;
    align-items: center;
    align-self: center;
    box-shadow: 4px 4px 7px -1px rgba(145,145,145,0.75);
    -webkit-box-shadow: 4px 4px 7px -1px rgba(145,145,145,0.75);
    -moz-box-shadow: 4px 4px 7px -1px rgba(145,145,145,0.75);
    transition: 1s;
    }

    &__titulo{
      font-family: $titulo;
      color: #000;
      padding-left:1.25rem;
    }
   &__info{
     font-family: $titulo2;
     color: #4b4b4b;
   }
   &__time{
    font-family: $titulo2;
    color: #4b4b4b;
   }
   &__texto{
     padding: 2rem;
     display: flex;
     flex-direction: column;
   }
   &__iframe{
     width: 20rem;
     height: 100%;
   }

   &__contenido:hover{
     transform:scale(1.04);
   }
  }
  
   /*--- ------ final de discografia ---- */
  
   /*----- Galeria -----*/
  
   .gale{
    background-image: url(../imagenes/fondo.jpg);
    background-size:cover;
    height: 12.5em;
    width: 100%;

    &__titulo{
      @include estiloTitulos(4.375em,#fff);
      padding-top: 5.625em;
    }
   }
  .galeria{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    gap: 10px;
    padding: 10px;
    grid-auto-flow: dense;

    &__item-1{
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url(../imagenes/galeria1.jpg);
      align-content: center;
      border-radius: 2px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
   
    }
    &__item-2{
      @extend .galeria__item-1;
      background-image: url(../imagenes/galeria11.jpg);
      
    }

    &__item-3{
      @extend .galeria__item-1;
      background-image: url(../imagenes/galeria3.jpg);
     
    }
    
    &__item-4{
      @extend .galeria__item-1;
      background-image: url(../imagenes/galeria4.jpg);
     
    }

    &__item-5{
      @extend .galeria__item-1;
      background-image: url(../imagenes/galeria5.jpg);
  
    }
    &__item-6{
      @extend .galeria__item-1;
      background-image: url(../imagenes/galeria6.jpg);
    
    }
    

    &__item-7{
      @extend .galeria__item-1;
      background-image: url(../imagenes/galeria7.jpg);
    
    }
    

    &__item-8{
      @extend .galeria__item-1;
      background-image: url(../imagenes/galeria8.jpg);
     
    }

    &__item-9{
      @extend .galeria__item-1;
      background-image: url(../imagenes/galeria9.jpg);
      
    }

    &__item-10{
      @extend .galeria__item-1;
      background-image: url(../imagenes/galeria12.jpg);
      
    }
  
  }
   
  
  .wide {
      grid-column: span 2;
    }
  .galeria div{
    transition: 1s;
  }
  .galeria div:hover{
    transform: scale(1.04);
    box-shadow: 3px 3px 3px #838383;
  
  }
  /*---- Final Galeria ----*/
  /*------- Contacto ------- */

  .contacto{
    background: rgb(0,0,0);
    background: linear-gradient(74deg, rgba(0,0,0,1) 0%, rgba(84,84,84,1) 48%, rgba(150,150,150,1) 93%);
    height: 800px;
    padding-top: 110px;
    padding-left:90px;
  }
  .formCont{
    width: 90%;
    height: 600px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas: " info label";
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    
    

  }

  .cont{
    grid-area: info;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../imagenes/contac.jpg);
    background-size: cover;

    &__titulo{
     
      color: #fff;
      font-family: 'Bebas Neue', cursive;
      font-size: 40px;
  }
    &__item{
      font-size: 25px;
      font-family: 'Source Sans Pro', sans-serif;
      word-spacing: 5px;
    }

    &__mapa {
      font-family: 'Bebas Neue', cursive;

    }
    &__mapa iframe{
      width: 30%;
      height: 150px;
    }

    &__user{
      color: #fff;
      font-size: 60px;
    }
    hr{
      background-color: #fff;
      width : 99%;
      height: 0.5px;
    }
  }

  .form{
    grid-area: label;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;

    &__titu{
      font-family: 'Bebas Neue', cursive;
      font-size: 40px;
      color: #000;
    }
    &__info{
      display: flex;
      flex-direction: column;
    }

    &__label{
     font-family: 'Bebas Neue', cursive;
     font-size: 24px;

    }
    &__input{
      width: 70%;
      border: none;
      border-bottom: 2px solid rgb(34, 34, 34);
      transition: 1s;

    }
    &__text{
      width: 70%;
      height: 70px;
      border: none;
      border-bottom: 2px solid rgb(34, 34, 34);

    }

    &__btn{
    width: 40%;
	  background-color: #222222;
	  padding: 10px;
	  border: none;
	  border-radius: 25px;
    align-self: flex-end;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
  	font-weight: 600;
   	cursor: pointer;
     position: relative;
     top: 40px;
     transition: 1s;
    }

    &__input:hover{
      border: none;
      border-bottom: 4px solid rgb(0, 0, 0);

    }

    &__btn:hover{
      background-color: rgb(134, 134, 134);
      transform: scale(1.03);
    }
  }

  
  
  
  /*------ Final Contacto ------- */
   /*----- Footer ---------*/
   .footer{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: " texto redes"
                        "diseñador diseñador";
    background-color: #1b1b1b;
    
    
    &__contenido{
      grid-area: texto;
      align-self: center;
      padding-left: 30px;
      transition: 1s;
    }            
    &__hr{
      width: 90%;
      background-color: #eee;
      height: 1px;
      align-self: center;
    }        
   
    &__titulo{
      font-family: $titulo;
      font-size: 25px;
      color: #fff;
    
      padding-top:30px;
      padding-left: 130px;
    }
    &__redesTitulo{
      @extend  .footer__titulo;
    }
    &__redes{
      grid-area: redes;
      font-size: 30px;
    }
    &__link{
      color: #9c9c9c;
      text-decoration: none;
      padding-left: 40px;
      padding-top: 20px;

      
    }
    &__parrafo{
      color: #9c9c9c;
      font-size: 18px;
      padding-right: 140px;
      
    }
    &__titular{
      grid-area: diseñador;
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: #272727;
      align-self: center;
      align-items: center;
      word-spacing: 3px;
    }
    &__diseñador{
      font-family: $titulo2;
      color: #fff;
      font-size: 15px;
    }
    &__linke {
      font-family: $titulo;
      color: #c0c0c0;
      text-decoration: none;
      font-size: 19px;
      transition: 1s;
    }
    &__contenido:hover{
      transform: scale(1.04);
      color: #fff;
    }
    &__link:hover{
      transform: scale(1.04);
      color: #fff;
      text-decoration: none;
    }
    &__linke:hover{
      transform: scale(1.04);
      color: #fff;
      text-decoration: none;
    }

   }

  /*------ media queries---------*/
   @media only screen and (max-width: 768px){

     .main{
        width: 100%;
      }
     
     .contenidoUno__subtitulo{
       background-color: rgba(0, 0, 0, 0.514);
     }
     .contenidoDos{
       
      display: flex;
      flex-direction: row;
      height: 61rem;

       &__texto{
         width: 100%;
         font-size: 2rem;
         
       }
       &__tiulo{
         padding-top: 10px;
       }
       &__img{
         width: 100%;
         height: 30rem;
       }
     }
     .noticias{
       height: 78rem;

       &__titulo{
        font-size: 1.5rem;
      }
      &__info{
        font-size: 1rem;
       }
       &__img{
        width: 18.75rem;
        height: 100%;
      }
     }

   
     /*----- Integrantes ----*/
    .inte__titulo{
      font-size: 50px;
    }

    .integrante {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: auto;
      grid-template-areas: " img texto";
      transition: 1s;
      height: 410px; 
    
       &__imagen {
        grid-area: img;
       }

        &____contenido {
          grid-area: texto;
          padding:20px;
          transition: 1s; }

          &__titulo{
            font-size: 20px;
          }

        &__parrafo {
          font-size: 16px; }  
    
    }

    .integrante2 {
      
      height: 350px; 
    

        &____contenido {
          padding:20px;
        }

          &__titulo{
            font-size: 20px;
          }

        &__parrafo {
          font-size: 16px; }  
    
    }
     /*---- Discografia ----*/
     .mainDiscografia{
       height: auto;
     }
     .discografia{
       
       &__iframe{
        width: 20rem;
        height: 100%;
      }
   
     }
    
     /*------ Contacto ---*/
     .contacto{
       padding-left: 40px;
     }
    .formCont{
       width: 95%;
       height: 600px;
      
     }

     .cont{
       width: 100%;
     }
     .cont__titulo{
        font-size: 30px;

     }
     .cont__item{
       font-size: 20px;
       padding-left: 5px;

     }
     .cont__user{
       font-size: 40px;
     }
     .cont iframe{
        width: 90%;
     }
   
     .form__label{
       font-size: 20px;
     }
    
     
     
     /*----- footer --- */
     
     .footer__titulo{
       padding-left: 30px;
     }
     .footer__hr {
       width: 90%;
    
    }
    .footer__redes{
      margin-left: 60px;
    }
    .footer__link{
      padding-left: 20px;
    }
    .footer__parrafo{
      padding: 0px;
    }
     
} 
   
@media only screen and (max-width: 480px){

/*---- nav ------ */
.social{
  letter-spacing: 8px;
}

/*----- index ------*/
.contenidoUno__titulo{
  font-size:5rem;
}
.contenidoUno__subtitulo{
  font-size: 2rem;
  display: flex;
  flex-direction: column; 
}
.contenidoUno__span{
  font-size: 2rem;

}

.contenidoDos{
  height: 80rem;
  padding: 10px;
  &__texto{
    font-size: 1rem;
  }
}
.noticias{
  height: 120rem;

  &__contenido{
    display:flex;
    flex-direction: column;
  }
  &__img{
    width: 100%;
    height: 100%;
  }
}
/*---- Integrantes ---*/
.integrante {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "img"
                       "texto";
  height: 710px; 

   &__imagen {
    grid-area: img;
    padding-left: 15px;
  
     }

    &____contenido {
      grid-area: texto;
      padding:20px;
      transition: 1s; }

      &__titulo{
        font-size: 20px;
      }

    &__parrafo {
      font-size: 17px; }  

}
.integrante2{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "img2"
                       "texto2";
  height: 610px; 

   &__imagen {
    grid-area: img2;
    padding-left: 15px;
     }

    &____contenido {
      grid-area: texto2;
      padding:20px;
      transition: 1s; }

      &__titulo{
        font-size: 20px;
      }

    &__parrafo {
      font-size: 17px; }  

}
/*---- Discografia ----*/

.mainDiscografia{
  height: auto;
}
.disco__titulo{
  font-size: 3.5rem;
  }
  
  .discografia__contenido{
    display: flex;
    flex-direction: column-reverse;
  }
  .discografia__iframe{
    width: 100%;
  }
  /**--------Fin Discografia---------------**/
.wide{
  grid-column: span 1;
}
/*------ Contacto ---*/
.contacto{
  height: 1300px;
  padding-right: 40px;

}
.formCont{
  width: 100%;
  height: 1150px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:auto;
  grid-template-areas: "label1"
                       "info1";
}

.cont{
  grid-area: label1;
}

.cont__user{
  display: flex;
  flex-direction: row;
  font-size: 60px;
  position: relative;
  top: 70px;
  right: 100px;
}
.form{
  
  grid-area: info1;
  
}
/*----- footer ---*/
.footer{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "contenido"
                       "redes"
                       "diseñador";
  justify-content: center;
  align-items: center;
  align-content: center;

  &__contenido{
    grid-area: contenido;
  }
  &__contenido hr{
    padding-left: 25px;
  }
  &__titulo{
    padding-left: 160px;
  }
  &__redesTitulo{
    padding-left: 90px;
  }
  &__redes{
    grid-area: redes;
    height: 170px;
  }
  &__titular{
    grid-area: diseñador;
  }
  &__parrafo{
    padding: 0 40px;
  }
  &__link{
    padding-left: 30px;
  }
  
  
}
/* fin de 480px*/
}

 





  

  



  















       
 




 
 
 
 


